<cwc-page>
    <!-- Header slot -->    
    <app-header slot="header"></app-header>

    <!-- Sidenav slot -->
    <app-sidebar slot="sidenav"></app-sidebar>   

    <!-- Main slot -->
    <div slot="main" style="padding: 32px; flex: 1 1 auto">
        <router-outlet></router-outlet>
    </div>
</cwc-page>


<!-- tarjeta papeleria  -->
<!-- <cwc-cell colspan="6" mobile-colspan="12">
    <cwc-card class="m-all-xs" design-version="v2">
        <div class="main-content-card">
            <span class="style-title">Papelería</span>

            <hr>

            <cwc-grid class="demo-grid" >
                <cwc-cell colspan="12" mobile-colspan="12">
                    <div class="content-docs">
                        <div>
                            <div class="item-archives">
                                <cwc-icon></cwc-icon>
                                <span class="text-archive">Licencia de conducir</span>
                            </div>
                            <div class="item-archives">
                                <cwc-icon></cwc-icon>
                                <span class="text-archive">RUT</span>
                            </div>
                            <div class="item-archives">
                                <cwc-icon></cwc-icon>
                                <span class="text-archive">Cámara de Comercio</span>
                            </div>
                        </div>

                        <div class="padding-contents">
                            <div class="item-archives">
                                <cwc-icon></cwc-icon>
                                <span class="text-archive">Acta de nacimiento</span>
                            </div>
                            <div class="item-archives">
                                <cwc-icon></cwc-icon>
                                <span class="text-archive">Certificado de curso</span>
                            </div>
                        </div>

                        <div class="content-action-docs">
                            <cwc-button (click)="updateDocuments()" variant="link">Actualizar documentos</cwc-button>
                        </div>
                    </div>
                </cwc-cell>
            </cwc-grid>
        </div>
    </cwc-card>
</cwc-cell> -->