<div *ngIf="form.get('email').value">

<!--=====================================
		COMPONENTE DE LOADING MODAL
======================================-->
  <app-modal-loading
[loadingShow]="loadingShow"
title="Espere un momento"
message="Actualizando su contaseña"
></app-modal-loading>
<!--=====================================
		CONTENEDOR FORMULARIO
======================================-->
<div slot="main" class="content-grid-reset-password content">
    <cwc-grid class="demo-grid" design-version="v2" columns="12" mobile-columns="12">
      <cwc-cell class="content-column" colspan="12" mobile-colspan="12">
          <h2 class="title-reset-password">Recuperar Contraseña</h2>
          <div class="border-red"></div>
          <p class="subtitle-reset-password">Ingrese su nueva contraseña</p>
          <form  (submit)="resetPassword()" [formGroup]="form">
            <div class="content-form-reset-password">
              <!-- Campon nueva contraseña -->
                <cwc-input class="input" 
                        [status]='statusInputPassword'
                        [statusMessage]='statusInputMessagePassword'
                        design-version="v2" 
                        allow-password-show='true'
                        type='password'
                        label='Nueva contraseña'
                        ngDefaultControl
                        required 
                        formControlName="password"
                        style="margin-bottom: 1rem;"
                        ></cwc-input>
                        <!-- Campo confirmar contraseña -->
                <cwc-input class="input" 
                        design-version="v2" 
                        type='password'
                        [status]='statusInputConfirmedPassword'
                        [statusMessage]='statusInputMessageConfirmedPassword'
                        allow-password-show='true'
                        label='Confirmar contraseña'
                        ngDefaultControl
                        required 
                        formControlName="confirmPassword"
                        ></cwc-input>
                        <!-- Boton para enviar los datos -->
                  <cwc-button class="btn-login" 
                        (click)="resetPassword()"
                        [disabled]="form.invalid"
                        type="submit"
                        design-version="v1" 
                        variant="primary-block">RECUPERAR CONTRASEÑA</cwc-button>
                        <!--=====================================
		                        ALERTA CON MENSAJES DESDE EL SERVIDOR
                        ======================================-->
                        <div style="padding-top: 1rem;">
                          <cwc-alert *ngFor="let error of errors" variant="error" [message]="error" keep-open></cwc-alert>
                        </div>
                        <p>Envíaremos a su correo electrónico con un link para que recupere su contraseña</p>
              </div>
          </form>
      </cwc-cell>
    </cwc-grid>
  </div> 
</div>
<!--=====================================
		CONTENEDOR SI NO EXITE UN TOKEN O CORREO ELECTRÓNICO EN LA URL
======================================-->
<div class="content-empty-result" *ngIf="!form.get('email').value">
  <div class="p-all-reg" style="background: #F4F6F9">
    <cwc-empty-result header="No puede cambiar su contraseña" icon="error-rounded-fill">
        No existe un token válido para cambiar su contraseña, 
        intente solicitando un token dando clic <a [routerLink]="['/login']" routerLinkActive="router-link-active" >aquí</a> o <a [routerLink]="['/login']">inicie sesión</a>
    </cwc-empty-result>
</div>
</div>
<!--=====================================
	 MODAL DE CONFIRMACIÓN QUE TODO SALIO BIEN
======================================-->
<app-modal-success [alertSuccess]="alertSuccess" title="¡Exitoso!" message="Su contraseña ha sido actualizada"></app-modal-success>
  <!-- <cwc-modal id='alert-modal-succes' [open] ="alertSucces">
    <div style='text-align: center'>
        <cwc-icon name='accepted-ok' size='120px' color='bright-green'></cwc-icon>
        <h4 class='modal--confirmation__message'>¡Existoso!</h4>
        <p>Su contraseña ha sido actualizada</p>
    </div>
    <footer slot='footer'>
      <div style='text-align: end'>
          <cwc-button variant='primary' [routerLink]="['/login']" routerLinkActive="router-link-active"   routerLinkActive="router-link-active" >Ir al Login</cwc-button>
      </div>
  </footer>
  </cwc-modal> -->

