<cwc-grid class="demo-grid">
    <cwc-cell colspan="12" mobile-colspan="12">
        <h2 class="title-form">Editar conductor</h2>
    </cwc-cell>       

    <cwc-cell colspan="5" mobile-colspan="12">    
        <form>
            <cwc-input label='Nombre(s)' value='' class='input-new-driver' placeholder="Escribe tu Nombre"></cwc-input>

            <cwc-input label='Apellidos' value='' class='input-new-driver' placeholder="Apellido paterno y materno"></cwc-input>
            
            <cwc-input label='Número de celular' value='' class='input-new-driver' placeholder="Agrega un número de telefono"></cwc-input>
            
            <cwc-picker class="picker" label="Empresa" placeholder="Seleccionar" style="width:100%;">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
            </cwc-picker>
                        
            <cwc-checkbox checked required class='m-end-sm input-check-driver'>Confirmo que la siguiente información es verdadera. </cwc-checkbox>

            <cwc-button (click)="updateDriver()" type="submit" variant="primary-block" design-version="v2">Guardar cambios</cwc-button>
        </form>
    </cwc-cell>
</cwc-grid>

<!-- Confirmational modal -->
<cwc-modal id='modal-1' (cwcClose)="closeModal($event)">
    <div style='text-align: center'>
        <cwc-icon name='accepted-ok' size='120px' color='bright-green'></cwc-icon>
        <h3 class='modal--confirmation__message'>Los cambios han sido guardados exitosamente.</h3>
    </div>
</cwc-modal>